<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo" style="position:relative; left:420px;">Cookbook By Cole</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/recipes" style="position:relative; right: 100px; font-size:larger">Recipes</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    {{!-- <div>
        <img src="./public/images/Cole'sCookbook.jpg" alt="Picture Here">
    </div> --}}
        <div class="row">
    <form id="recipeForm" action="/api/recipes" method="post">
        <div class="row">
        <div class="input-field col s6">
            <input id="firstNameInput" name="firstName" type="text">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input id="lastNameInput" name="lastName" type="text">
            <label for="last_name">Last Name</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="dishNameInput" name="dish" type="text">
            <label for="title">Dish Name</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <textarea id="ingredientsInput" name="ingredients" type="text"></textarea>
            <label for="title">Ingredients</label>
        </div>
        </div>
        </div>

        <div class="row">
        <div class="row">
        <div class="input-field col s12">
          <textarea id="instructionsInput" name="instructions" class="materialize-textarea"></textarea>
          <label for="textarea1">Instructions</label>
        </div>
        </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="emailInput" name="email" type="email">
            <label for="email">Email</label>
            </div>
        </div>

    <button type="submit"
            class='submit'
            style="margin-right: 15px;"
            onClick="submit" href="/recipes">Submit
    </button>

    </form>
    </div>

</main>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Cookbook By Cole</h5>
                <p class="grey-text text-lighten-4">I hope you find this cookbook app as a useful tool to remember and share your favorite recipes!</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Check Me Out</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://github.com/ColeCarter9530">GitHub</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://examplewebsite.com">My Personal Site</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2023 ColeC Enterprises LLC
            <a class="grey-text text-lighten-4 right" href="#!"></a>
            </div>
          </div>
</footer>