<header>
    <nav>
        <div class="nav-wrapper">
            <a href="#" class="brand-logo">Cookbook By Cole</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://www.youtube.com/">Recipes</a></li>
            <li><a href="badges.html">FAQ</a></li>
            <li><a href="collapsible.html">Support Me</a></li>
            </ul>
        </div>
    </nav>
</header>
<main class="container">
    {{!-- <div>
        <img src="./public/images/Cole'sCookbook.jpg" alt="Picture Here">
    </div> --}}
        <div class="row">
    <form id="recipeForm">
        <div class="row">
        <div class="input-field col s6">
            <input id="firstNameValue" type="text">
            <label for="first_name">First Name</label>
        </div>
        <div class="input-field col s6">
            <input id="lastnameValue" type="text">
            <label for="last_name">Last Name</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="dishNameValue" type="text">
            <label for="title">Dish Name</label>
        </div>
        </div>
        <div class="row">
        <div class="input-field col s12">
            <input id="ingredientsValue" type="text">
            <label for="title">Ingredients</label>
        </div>
        </div>
        </div>

        <div class="row">
        <div class="row">
        <div class="input-field col s12">
          <textarea id="instructionsValue" class="materialize-textarea"></textarea>
          <label for="textarea1">Instructions</label>
        </div>
        </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input id="emailValue" type="email">
            <label for="email">Email</label>
            </div>
        </div>

    <button type="submit"
            class='submit'
            style="margin-right: 15px;"
            onClick="submit">Submit
    </button>

    </form>
    </div>

</main>
<footer class="page-footer">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
                  <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2023 Cookbook By Cole
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
</footer>