body {
    background-color: lightblue;
    color: black;
}

page-footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: antiquewhite;
  }

  main {
    flex: 1 0 auto;
  }