body {
    /* background-color: rgb(236, 188, 181); */
    background-color: lightblue;
    color: black;
    margin: 3px 0px 3px 0px;
}

footer {
  margin-top: 90px;
}

page-footer {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: antiquewhite;
  }

  main {
    flex: 1 0 auto;
  }